header {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    width: 500px;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    font-size: 20px;
}

i {
    background: transparent !important;
}

.delete {
    border: none;
    border-radius: 50%;
    padding: 10px;
}

.addTodo {
    background-color: blue;
    color: #fff !important;
    padding: 0px 20px;
    font-weight: bold;
    border-radius: 15px;
    margin-left: 20px;
}

.createTodo {
    display: flex;
    width: 700px;
    height: 30px;
}

.inputTodo {
    width: 500px;
    height: 30px;
}

#mode {
    position: absolute;
    right: 0;
    top: 10px;
}

.dark {
    background: #222;
    color: #eee;
}

#light-mode,
#dark-mode {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
}


main {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}